* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    /* height: 100%; */
    min-height: 100vh;
    /* Use viewport height to ensure minimum size covers the entire viewport */
    display: flex;
    flex-direction: column;
    color: aliceblue;
    background-color: blueviolet;
}

/* body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: aliceblue;
    background-color: blueviolet;
} */
.active{
    background-color:rgb(104, 104, 104);
}

.caret{
    width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.dropdown{
    /* width: 15em;
    position: relative;
    grid-column: 2em; */
}

/* .dropdown:hover{
    background-color: rgb(70, 137, 115);
    color: aliceblue;
    cursor: pointer;
} */

footer {
    padding: 5px;
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(50, 44, 61);
    text-align: center;
}

.main {
    /* width: 100%; */
    padding: 20px;
    flex: 1;
}

.menu{
    border-radius: .5em;
    background-color: rgb(50, 50, 50);
    list-style: none;
    padding: 0px;
    margin-top: 10px;
    z-index: 1;
    display: none;
    box-shadow: 0 .3em 1em rgba(0, 0, 0, .5)
}
.menu > :first-child {
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
.menu> :last-child {
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.menu li{
    padding: .5em;
    /* border-radius: .5em; */
}
.menu li:hover{
    background-color: rgb(70, 137, 115);
}

.menu-open{
    display: block;
}

header{
    width: 100%;
    padding: 20px;
    background-color: rgb(44, 34, 63);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select {
    padding: .5em;
    border-radius: .5em;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    
}