*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    background-color: blueviolet;
    background-image: linear-gradient(to bottom, blueviolet,blueviolet,rgb(192, 169, 251),rgb(208, 220, 255), rgb(208, 220, 255), rgb(208, 220, 255), rgb(208, 220, 255),rgb(208, 220, 255), rgb(208, 220, 255));
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
}
header{
    padding: 0 24px 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blueviolet;
    z-index: 11;
}

.dropdown{
    width: 10em;

}
.select {
    padding: .5em;
    border-radius: .5em;
    background-color: rgb(208, 220, 255);
    color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.caret {
    width: 0;
    height: 0;
    color: blueviolet;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid blueviolet;;
    transition: 0.3s;
}
    .caret-rotate {
        transform: rotate(180deg);
    }
.menu {
    display: none;
    position: absolute;
    z-index: 1;
    width: inherit;
    margin-top: .5em;
    padding: 0;
    list-style: none;
}
    .menu-open{
        display: block;
    }
li {
    padding: .2em;
}
.menu1{
    background-color: rgb(208, 220, 255);
    border-radius: .5em;
    color: blueviolet;
}
    .menu1 li:hover {
        background-color: rgb(172, 172, 172);
    }
    .menu.menu1> :first-child {
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
    }
    .menu.menu1> :last-child {
        border-bottom-left-radius: .5em;
        border-bottom-right-radius: .5em;
    }
    .menu1 .active {
        background-color: rgb(110, 188, 255);
    }

.openMenu2{
    display: none;
    width: 6vw;
}
.closeMenu2{
    display: none;
    width: 5vw;
}

.menu2{
    display: block;
    width: 100%;
    top: 20vw;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 11;
    list-style: none;
    color: white;
    font-size: 1.5rem;
}
    .menu2 li:hover {
        transform:scale(1.15);
        /* font-size: 2.2rem; */
    }
    .menu2 li{
        padding: 1em;
        text-align: center;
        transition: transform 200ms ease-in-out;
    }
    .menu2 .active {
        color: rgb(144, 203, 255);
    }

.main {
    padding: 24px;
    flex: 1; 
    display: flex;
    flex-direction: column;
}
.carousel{
    position: relative;
    /* border: solid red; */
    max-width: 900px;
    max-height: 444px;
    width: 90vw;
    height: 45vw;
    align-self: center;
    overflow: hidden;
}

.carouselImg{
    width: 100%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    padding: 5px;
    bottom: 0;
    flex-shrink: 0;
    background-color: rgb(193, 168, 236);
    text-align: center;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 5.5vw;
        width: 330px;
        white-space: nowrap;
    }
    
    .select{
        display: none;
    }

    .closeMenu2 {
        display: none;
    }

    .openMenu2 {
        display: block;
        width: 6vw;
    }
}
@media only screen and (max-width: 350px) {
    h1 {
        font-size: 1.2rem;
    }
}
@media only screen and (min-width: 601px) {
    .openMenu2, .closeMenu2 {
        display: none !important;
    }
}
